<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
    <div>
        <a href="{% url 'register' %}"><img src="{% static 'images/transfer.jpg' %}" alt=""></a>
        <a href="{% url 'pin' %}"><img src="{% static 'images/password.jpg' %}" alt=""></a>
        <img src="{% static 'images/checkbal.jpg' %}" alt="">
        <img src="{% static 'images/deposit.jpg' %}" alt="">
        <img src="{% static 'images/withdraw.jpg' %}" alt="">
        <img src="{% static 'images/transfer.jpg' %}" alt="">
    </div>
</body>
</html>